.widget-event-calendar {
    --calendar-js-dark-color: var(--np-color-brand);
    --calendar-js-dark-lighter-color: var(--np-color-brand);
    --calendar-js-link-color: var(--np-color-brand);
    --calendar-js-event-color: var(--np-color-brand);
    --calendar-js-title-bar-button-color: var(--np-color-brand);
    --calendar-js-title-bar-text-color: var(--np-color-brand);
    --calendar-js-default-font: var(--font-family-body, system-ui, sans-serif);
}
